# Ignore virtual environment directory
backend/venv/

# Ignore Python bytecode cache
backend/__pycache__/
backend/tests/__pycache__/
backend/mock_data/__pycache__/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
