.dashboard-wrapper {
    margin-top: 100px;
}

.twobutton-notselect {
    padding: 8px;
    background-color: #DCEEFB;
    padding-right: 10px;
    border-radius: 14px;
    height: 50px;
    border-color: transparent;
    position: relative;
    width: 120px;
}

.twobutton-select {
    padding: 8px;
    background-color: rgb(179, 198, 215);
    padding-right: 10px;
    border-radius: 14px;
    height: 50px;
    border-color: transparent;
    position: relative; 
    width: 120px;
    outline: none; 
    border: 2px solid #3e5a75; 
    -webkit-appearance: none; /* WebKit (Safari, Chrome) */
    -moz-appearance: none; /* Mozilla Firefox */
    appearance: none; /* All other browsers */
    
}

.background-select {
    padding: 8px;
    background-color: #DCEEFB;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 14px;
    height: 70px;
    border-color: white;
    text-align: center; /* Center the content */
    width: fit-content;
    height: fit-content;
    font-family: Outfit;
}

.dashboard-buttons {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.create-button-div {
    margin-left: auto;
    display: flex;
}
.fill-space {
    margin-right: auto;
    visibility: hidden;
    width: 130px;
    height: 42px;
}

.create-button {
    border-radius: 8px;
    border: 2px solid #116D31;
    background: #D1E8D9;
    width: 130px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Outfit;
}

.calendar-button {
    border-radius: 8px;
    border: 2px solid #1b58b4;
    background: #b3ccdb;
    width: 130px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Outfit;
}

.plus-icon {
    width: fit-content;
}