.post-details-wrapper {
    margin-top: 100px;
}
.container-styling{
    color: #000;
    font-family: Outfit;
    font-style: normal;
}

.background-colour {
    background: rgba(255, 255, 255, 0.80);
}

.back-nav {
    display: flex;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    line-height: 66px;
}

.summary {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 15px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 32px;
    font-weight: 600;
    line-height: 27.5px; /* 85.938% */
    margin-top: 35px;
    margin-bottom: 10px;
}

.details {
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
}

.pill {
    font-size: 11px;
    border: 2px solid #072F5F;
    background-color: #DCEEFB;
    border-radius: 16px; 
    padding: 4px 8px;
    text-decoration: none;
    padding-bottom: 5px;
    width: auto;
    margin-top: 5px;
}

.pill-tag {
    margin-right: 5px;
    margin-bottom: 5px;
}

.back-text {
    padding-left: 5px;
}

.edit-button {
    border-radius: 8px;
    border: 2px solid #116D31;
    background: #D1E8D9;
    width: 98px;
    height: 42px;
}

.cancel-button {
    margin-right: 5px;
    border-radius: 8px;
    border: 2px solid #C71818;
    background: #FBDCDC;
    width: 98px;
    height: 42px;
}


.like-button-details {
    bottom: 10px;
    left: 10px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    width: fit-content;
}
  
.like-button-details i {
    font-size: 24px;
    color: #FF0000;
    transition: transform 0.3s;
    transform: scale(2);
}
  
.like-button-details.liked-details i {
    transform: scale(3);
    color: #FF0000;
}

.like-count {
    margin-left: 30px;
}

.rounded-edge {
    border-radius: 25px;
}

.hidden-input {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
  }
  
.custom-file-input {
    width: auto;
    background-color: #DCEEFB;
    border: 3px solid #072F5F;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
}

.alert {
    padding: 15px;
    color: #ff0000;
    margin-bottom: 5px;
    border-radius: 4px;
    text-align: center;
    font-size: medium;
  
    /* Added styles */
    background-color: #ffcccc;
    border: 2px solid #ff0000;
  }

  .error-message {
    /* transform: translate(-50%, -20%); */
    padding: 20px;
    background-color: #ffcccc;
    border: 2px solid #ff0000;
    border-radius: 8px;
    text-align: center;
    color: #ff0000;
    max-width: 30%;
    font-family: Outfit;
    /* transform: translate(-90%, -20%); */

  }

.plus-icon {
    align-items: center;
    padding-left: 5px;
    background: none;
    border: none;
    color: black;
    background-color: transparent;
}

.plus-icon.plus-icon:hover,
.plus-icon.plus-icon:focus,
.plus-icon.plus-icon:active {
    background-color: transparent;
    color: black;
    outline: none;
}

.plus-icon::after {
    content: none;
}
  

.remove-tag-button {
    background: none;
    border: none;
    height: 16px;
    width: 16px;
}

.dropdown-item-tag:active {
    background-color: white !important; /* Set the same background color as pills */
    color: black !important; /* Set the same text color as pills */
}

.selected-tags-container {
    display: flex;
    flex-wrap: wrap;
}

.selected-tags-container .pill-tag {
    margin: 2px;
}

.trash-button-details-page {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: fit-content;
  }
  
.trash-icon-custom-size-details-page {
    font-size: 35px;
}
/*Testing push/puul */
.error-date {
    margin-top: 5px;
    background-color: #ffcccc;
    border: 2px solid #ff0000;
    color: #ff0000;
    font-family: Outfit;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
  }

.trash-button-details-page {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: fit-content;
  }
  
.trash-icon-custom-size-details-page {
    font-size: 35px;
}