.SortBy {
    padding-bottom: 10px;
    padding-right: 10px;
  }

.sort-dropdown {
  background-color: #A0D1F2;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 5px;
}

.sort-title {
    color: #000;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px;
    margin-right: 5px;
}