body {
    background-color: #A0D1F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #DCEEFB;
    padding: 20px;
    border-radius: 49.09px;
    text-align: center;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    max-height: 600px;
}

.login-btn {
    background-color: #072F5F;
    color: #FFFFFF;
    font-family: Karla, sans-serif;
    height: 50px;
    width: 60%;
    border: none;
    border-radius: 15.341px;
    cursor: pointer;
    font-size: 22px;
}

h1 {
    color: #212B27;
    text-align: center;
    font-family: Karla, sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
}

.login-subtext, a {
    color: #32403B;
    text-align: center;
    font-family: Karla, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}

.forgot-password-container {
    position: relative;
    padding: 12px;
}
.forgot-password {
    position: absolute;
    right: 0;
    bottom: 0;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

.input-boxes {
    border-radius: 15.34px;
    border: 1.534px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    width: 100%;
    height: 50px;
}