{% extends "base.html" %}

{% block title %}Post Creation{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/postcreation-styles.css">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <script src="../animations/postcreation.js"></script>
{% endblock %}

{% block content %}
    <!--<div class="login-container">
        <h1>Create a Blue Surf account!</h1>
        <p class="login-subtext">Create an account to discover UofT activities and accounts.</p>-->
    <div class="split-container">
        <div class="left">

        </div>
        <div class="right">
            <div class="post-input">
                <form method="post" action="/">
                    <div class="form-group">
                        <label for="title" class="title-label">Title</label>
                        <input type="text" id="title" name="title" class="form-control input-boxes" placeholder="Post Title">
                    </div>
                    <div class="form-group">
                        <label for="location" class="input-labels">Location</label>
                        <input type="text" id="location" name="location" class="form-control input-boxes" placeholder="Location">
                    </div>
                    <div class="form-group">
                        <label for="event-time" class="input-labels">Event Time</label>
                        <input type="datetime-local" id="event-time" name="event-time" class="event-time">
                    </div>
                    <div class="form-group">
                        <label for="expiry-date" class="input-labels">Expiry Date</label>
                        <input type="datetime-local" id="expiry-date" name="expiry-time" class="event-time">
                    </div>
                    <div class="form-group">
                        <label for="details" class="input-labels">Details</label>
                        <input type="details" id="details" name="details" class="form-control input-boxes" placeholder="Enter any other details. ">
                    </div>
                    <!--<div class="form-group forgot-password-container">
                        <a href="/forgot-password" class="forgot-password">Forgot password?</a>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary login-btn">Create Account</button>
                    </div>-->
                    <div class="image-upload">
                        <label for="upload" class="input-labels">image</label>
                        <input type="file" class="form-control image-upload" id="customFile" />     
                    </div>
                    <div class="dropdown">
                        <select name="language" id="language">
                            <option value="Tags" selected >Tags</option>
                            <option value="javascript">JavaScript</option>
                            <option value="python">Python</option>
                            <option value="c++" disabled>C++</option>
                            <option value="java">Java</option>
                          </select>
                    </div>
                </form>
                <!--<p class="login-subtext">Already have an account? <a href="/login">Login</a></p>-->
            </div>
        </div>
    </div>
 
{% endblock %}
